<table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="tabela_fluxo">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Passos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for f in fluxo %}
        <tr>
            <td>{{ f.desc_fluxo }}</td>
            <td>{{ f.qtd_passos }}</td>
            <td>
                <button type="button" class="btn btn-xs btn-warning waves-effect edit_registro"
                        data-toggle="tooltip" data-placement="bottom" title="Editar Registro"
                        href="#">
                     <i class="material-icons">mode_edit</i>
                </button>
                <a type="button" class="btn btn-xs  bg-red waves-effect delete_registro"
                        data-toggle="tooltip" data-placement="bottom" title="Excluir Registro"
                        href="#">
                     <i class="material-icons">delete_forever</i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>