<!--CEP-->

                      function limpa_formulário_cep() {
                        // Limpa valores do formulário de cep.
                        $("#id_endereco").val("");
                        $("#id_bairro").val("");
                        $("#id_cidade").val("");
                        $("#id_uf").val("");
                      }

                      $("#id_cep").blur(function() {

                        //Nova variável "cep" somente com dígitos.

                        var cep = $(this).val().replace(/\D/g, '');

                        //Verifica se campo cep possui valor informado.
                        if (cep != "") {

                            //Expressão regular para validar o CEP.
                            var validacep = /^[0-9]{8}$/;

                            //Valida o formato do CEP.
                            if(validacep.test(cep)) {
                                $(".ret_cep").addClass('open');
                                //Preenche os campos com "..." enquanto consulta webservice.
                                $("#id_endereco").val("...");
                                $("#id_bairro").val("...");
                                $("#id_cidade").val("...");
                                $("#id_uf").val("...");

                                //Consulta o webservice viacep.com.br/
                                $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                                    if (!("erro" in dados)) {
                                        //Atualiza os campos com os valores da consulta.
                                        $("#id_endereco").val(dados.logradouro);
                                        $("#id_bairro").val(dados.bairro);
                                        $("#id_cidade").val(dados.localidade);
                                        $("#id_uf").val(dados.uf);
                                        var ibge = dados.ibge;
                                        var ibge_uf = ibge.substring(0, 2);
                                        var ibge_mun = ibge.substring(2,8);
                                        $("#id_ibge_uf").val(ibge_uf);
                                        $("#id_ibge_mun").val(ibge_mun);


                                    } //end if.
                                    else {
                                        //CEP pesquisado não foi encontrado.
                                        limpa_formulário_cep();
                                        alert("CEP não encontrado.");
                                    }
                                });
                            } //end if.
                            else {
                                //cep é inválido.
                                limpa_formulário_cep();
                                alert("Formato de CEP inválido.");
                            }
                        } //end if.
                        else {
                            //cep sem valor, limpa formulário.
                            limpa_formulário_cep();
                        }
                      });
<!--FIM CEP-->

<!--CNPJ-->
$("#id_cnpj_cpf").blur(function(){
     if($(this).val().length > 13){
            function limpa_formulario_cadastro(){
                   $("#id_cnpj_cpf").val("");
                   $("#id_razao").val("");
                   $("#id_fantasia").val("");
                   $("#id_cep").val("");
                   $("#id_endereco").val("");
                   $("#id_numero").val("");
                   $("#id_complemento").val("");
                   $("#id_bairro").val("");
                   $("#id_uf").val("");
            }

            var cnpj = $("#id_cnpj_cpf").val().replace(/\D/g, '');

            if (cnpj != "") {
                    $("#id_razao").val("...");
                    $(".retorno_busca").addClass('open');
                    $("#id_fantasia").val("...");
                    $("#id_cep").val("...");
                    $("#id_endereco").val("...");
                    $("#id_numero").val("...");
                    $("#id_cidade").val("...");
                    $("#id_complemento").val("...");
                    $("#id_bairro").val("...");
                    $("#id_uf").val("...");
            }

            $.getJSON("//www.receitaws.com.br/v1/cnpj/"+cnpj+'/?callback=?', function(dados) {
            var checkcnpj = dados.cnpj
                                if(checkcnpj != undefined){
                                           //Atualiza os campos com os valores da consulta.
                                        $("#id_razao").val(dados.nome);
                                        $("#id_fantasia").val(dados.fantasia);
                                        $("#id_cep").val(dados.cep);
                                        $("#id_endereco").val(dados.logradouro);
                                        $("#id_numero").val(dados.numero);
                                        $("#id_cidade").val(dados.municipio);
                                        $("#id_complemento").val(dados.complemento);
                                        $("#id_bairro").val(dados.bairro);
                                        $("#id_uf").val(dados.uf);
                                }
                                else {
                                    limpa_formulario_cadastro();
                                    alert("CNPJ Inválido");
                                }

            });
     }
});


<!--FIM CNPJ-->